
.DashboardLayout {
    display: flex;
    gap: 10%;
    color: var(--text);
    width: 90%;

    
}
.DashboardLayout_Body{
    position: absolute;
    left: 290px;
    width: calc(98% - 290px);
    
}   
.DashboardLayout_Body_Open{
    left: 140px;
    width: calc(98% - 140px);
    transition: 1s ease-in-out;


}
.ar{
    .DashboardLayout_Body{
        right: 290px;
        
    }   
    .DashboardLayout_Body_Open{
        right: 140px;
        width: calc(96% - 140px);
        transition: 1s ease-in-out;
    
    
    }
}

.card {
    background: var(--bg);
 @include Shadow;
 outline: none !important;
 border: none !important;
}
.Model_Button{
    background: var(--primary) !important;
    outline: none !important;
    border: none !important;
}
.SweetAlert{
    .btn-primary{
        background: var(--primary);
        outline: none;
        border: none;
        box-shadow: none !important;
    }
}
.TableActions{
    svg{
        fill: var(--primary);
    }
}
.form-control:focus{
    box-shadow:  0 0 0 0.2rem rgba(0, 0, 0, 0.2) !important;
    border: var(--primary);
}
.Page_Header{
    display: flex; align-items: center ; justify-content: space-between;
    margin-bottom: 20px;

}
.PrimaryColor{
    margin-inline: 10px;
}
.ViewTapPage{
    button{
        outline: transparent !important;
        border: transparent !important;
        background: var(--primary) !important;
    
    }
    .CardHeader{
        display: flex; justify-content: space-between;
        padding: 30px 3vw 5px 3vw;
        background: var(--bg) !important;
    }
    .card-header{
        border-bottom:none !important;
    }
}
.Tab_Word {
    display: flex; align-items: center; gap: 10px;
    h1{
        color: var(--primary) !important;
        font-size: 20px;
        height: 20px;

    }
    svg{
        fill: var(--primary) !important;

    }
}
.react-tabs__tab--selected{
    text-align: center;
    min-width: 20%;
    border-color: var(--primary) !important;
    font-weight: bold;
    color: var(--primary) !important;
}
.react-tabs__tab{
    text-align: center;
    min-width: 20%;
    color: var(--primary);
    svg{
        margin-inline: 10px;
    }

}
.View_information{
    font-weight: bold;
color: var(--primary);
}
